**WALMART PROJECT**

**Libraries importortation**

In [30]:
import pandas as pd

In [31]:
from sqlalchemy import create_engine
import psycopg2

In [32]:
df = pd.read_csv('Walmart.csv')

**Data exploration and Data cleaning**

*data overview: identifying potential issues*

In [33]:
df.shape #quantity of columns and rows

(10051, 11)

In [34]:
df.columns #title of each column

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [35]:
df.head() # first five rows of each column

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

*Missing values verification*

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [37]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

*Missing values exlusion*

In [38]:
#creation of a new data frame named Cdf (Clean_dataframa) to store the clened data 
#dropping missing values \ sotoring data without missing values in the new dataframe
Cdf = df.dropna()

In [39]:
# Missing values exclusion verification 
Cdf.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [40]:
Cdf.shape

(10020, 11)

*Duplicates verification*

In [41]:
Cdf.duplicated().sum() # verifying the existence of duplicates

np.int64(51)

*Dropping duplicates*

In [42]:
Cdf.drop_duplicates(inplace=True) # dropping duplicates

C:\Users\Dion\AppData\Local\Temp\ipykernel_17040\1123444140.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cdf.drop_duplicates(inplace=True) # dropping duplicates

In [43]:
#duplicates dropping verification
Cdf.duplicated().sum()

np.int64(0)

In [44]:
Cdf.shape

(9969, 11)

*Values types verification*

In [45]:
Cdf.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price         object
quantity          float64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

*Values types padronization*

In [46]:
#Converting the data type of the quantity column from float to int
Cdf['quantity'] = Cdf['quantity'].astype(int)

C:\Users\Dion\AppData\Local\Temp\ipykernel_17040\3273024465.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cdf['quantity'] = Cdf['quantity'].astype(int)

In [47]:
# removing teh symbol $ from the column unit_price for converting it in float
Cdf [ 'unit_price' ] = df [ 'unit_price' ].str.replace('$' , ' ')

C:\Users\Dion\AppData\Local\Temp\ipykernel_17040\4202648268.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cdf [ 'unit_price' ] = df [ 'unit_price' ].str.replace('$' , ' ')

In [48]:
# Converting the data type of the quanunit_price column from object to float
Cdf['unit_price'] = Cdf['unit_price'].astype(float)

C:\Users\Dion\AppData\Local\Temp\ipykernel_17040\2358876728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cdf['unit_price'] = Cdf['unit_price'].astype(float)

In [49]:
# Verifying the data type converting
Cdf.dtypes

invoice_id          int64
Branch             object
City               object
category           object
unit_price        float64
quantity            int64
date               object
time               object
payment_method     object
rating            float64
profit_margin     float64
dtype: object

*Some alterations*

*Creating a new column*

In [50]:
#Criating a new column named total_price to sotre unit_price * quantity
Cdf['total_price'] = Cdf['unit_price'] * Cdf['quantity']

C:\Users\Dion\AppData\Local\Temp\ipykernel_17040\1116214726.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cdf['total_price'] = Cdf['unit_price'] * Cdf['quantity']

In [51]:
#Verifying the new column: total_price
Cdf.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'total_price'],
      dtype='object')

In [52]:
#Verifying the new column: total_price

Cdf.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total_price
0,1,WALM003,San Antonio,Health and beauty,74.69,7,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

*changing columns name to lower case to facility sql query*

In [53]:
Cdf.columns = Cdf.columns.str.lower() # changing to lower case
Cdf.columns # verifying

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin',
       'total_price'],
      dtype='object')

**DataFrame importation to PostgreSql**

*Transforming Cdf DataFrame into a CSV file to export it to PostgreSQL*

In [54]:
Cdf.to_csv('clean_walmart.csv')

*Creating sqlAlchemy engine*

In [55]:
# Creating engine 
from sqlalchemy import create_engine 
engine = create_engine('postgresql://postgres:Utt27@localhost:5432/pw')

In [56]:
# Veryfing engine conection
try:
    # A linha que você queria testar, colocada em um bloco 'with'
    with engine.connect() as connection:
        print(" Conexão bem-sucedida com o banco de dados!")
except OperationalError as e:
    print(f"Erro de conexão: {e}")

 Conexão bem-sucedida com o banco de dados!

*exporting dataframe to PostgreSql*

In [57]:
# creation of a variable (x) to store the csv file to be exported

x = pd.read_csv('clean_walmart.csv')

In [58]:
# expostornig csv file using .to_sql()

x.to_sql(name='wal', con=engine, if_exists='replace', index=False)

969